@import url('https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker|Shadows+Into+Light+Two&display=swap');

Html, body {
	Height: 100%;
    Margin: 0;
    background-color: rgb(117, 151, 151);
}

header {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
}

p {
    font-family: 'Shadows Into Light Two', cursive;
}

img:hover {
    border: solid;
    border-color: rgb(102, 31, 31);
}

main {
    display: flex;
    flex-direction: column;
}
input {
    font-family: 'Shadows Into Light Two', cursive;
}