@import url('https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker|Shadows+Into+Light+Two&display=swap');

Html, body {
	Height: 100%;
    Margin: 0;
    background-color: rgb(117, 151, 151);
}

header {
    display: flex;
    justify-content: center;
    background-color: darkcyan;
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Kalam', cursive;
    display: flex;
    justify-content: center;
}

#quests {
    background-image: url(/assets/map.jpg);
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 60vw;
    height: calc(60vw * 642 / 900);
    margin: auto;
}
.quest {
    position: absolute;
    color: darkslateblue;
    font-family: 'Kalam', cursive;
    font-size: 24px;
}
.quest:hover {
    color: firebrick;
}